body {
  margin: 0;
  padding: 0;
  font-family: 'Black And White Picture', sans-serif;
  font-size: 40px;
  /* background-image: url('./assets/robot_full.jpg');
  background-repeat: no-repeat;
  background-size: 500px auto;
  background-position-x: 50% */
}
